<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>abstractme</title>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
        <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
        <link rel="stylesheet" href="/static/css/output.css">
    </head>
    <body>

        <header class="flex items-start gap-8 mt-2">
            {{ template "header.html" . }}

            <div class="menu bg-info lg:menu-horizontal rounded-box my-2">
                <li><a id="status" class="menu-title text-info-content">idle</a></li>
            </div>
        </header>

        <div class="flex min-h-screen">

            <aside id="sidebar" class="">

                <!-- files -->
                <div hx-get="/files/get" 
                    hx-trigger="load">
                    {{ template "files.html" . }}
                </div>

                <!-- commands -->
                <div hx-get="/commands/get" 
                    hx-trigger="load">
                    {{ template "commands.html" . }}
                </div>

                <!-- settings -->
                {{ template "settings.html" . }}
            </aside>

            <main class="w-full p-8">
                {{ template "editor.html" . }}
            </main>

        </div>

    </body>
</html>
