<div class="dropdown dropdown-right text-primary">

  <div tabindex="0" role="button" class="btn m-1">
    abstractme
  </div>

  <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-1 w-52 p-2 shadow-2xl">
        {{ range $theme := .Themes }}

        <li>
          <input
            type="radio"
            name="theme-dropdown"
            class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start"
            data-set-theme="{{ $theme }}"
            data-act-class="ACTIVECLASS"
            aria-label="{{ $theme }}"
            value="{{ $theme }}" />
        </li>

        {{ end }}
  </ul>
</div>
